.details-btn {
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.details-btn:hover {
    background-color: navy;
}